Repository Jabdel4/Simple-AspNetCore-Angular-TodoApp: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/builds/build-api.yml, pipelines/builds/build-client.yml, pipelines/builds/build-infra.yml, pipelines/releases/release-api.yml, pipelines/releases/release-apps.yml, pipelines/releases/release-infra.yml, pipelines/releases/release.yml

pipelines/builds/build-api.yml:
  name: build-api
  jobs:
  - template: ../templates/build-template.yml

pipelines/builds/build-client.yml:
  name: build-client
  jobs:
  - template: ../templates/build-client-template.yml

pipelines/builds/build-infra.yml:
  name: build-infra
  pool:
    vmImage: $(vmImage)
  steps:
  - publish: $(workingDir)/pipelines/infra
    displayName: Publish bicep
    artifact: resources

pipelines/releases/release-api.yml:
  name: release-api
  stages:
  - template: ../templates/release-api-template.yml
    parameters:
      azServiceConnection: ''

pipelines/releases/release-apps.yml:
  name: release-apps
  jobs:
  - template: ../templates/release-apps-template.yml

pipelines/releases/release-infra.yml:
  name: release-infra
  jobs:
  - template: ../templates/release-infra-template.yml

pipelines/releases/release.yml:
  name: release-app
  stages:
  - template: ../templates/release-template.yml

Fixed some issues
  pipelines/templates/release-apps-template.yml
Due: pipelines/releases/release-apps.yml

Updated API build
  pipelines/templates/build-api-template.yml
Due: none

Some updated
  pipelines/builds/build-api.yml
  pipelines/builds/build-client.yml
Due: pipelines/builds/build-api.yml, pipelines/builds/build-client.yml

Fixed some issues
  pipelines/builds/build-api.yml
  pipelines/builds/build-client.yml
Due: pipelines/builds/build-api.yml, pipelines/builds/build-client.yml

Fixed some issues again
  pipelines/builds/build-api.yml
  pipelines/builds/build-client.yml
Due: pipelines/builds/build-api.yml, pipelines/builds/build-client.yml

Updated dotnet version
  pipelines/templates/build-api-template.yml
Due: none

Updated api build
  pipelines/templates/build-api-template.yml
Due: none

Updated API artifact name
  pipelines/templates/release-apps-template.yml
Due: pipelines/releases/release-apps.yml

Fixed dotnet version issue
  pipelines/templates/build-api-template.yml
Due: none

Updated some builds pipeline
  pipelines/builds/build-apps.yml
  pipelines/builds/build-infra.yml
  pipelines/templates/build-apps-template.yml
  pipelines/templates/buld-infra-template.yml
Due: none

Renamed infra pipeline template
  pipelines/templates/build-infra-template.yml
Due: none

Updated release apps piepline
  pipelines/templates/release-apps-template.yml
Due: pipelines/releases/release-apps.yml

Added a pipeline resource
  pipelines/releases/release-apps.yml
Due: none

Updated release apps pipelines
  pipelines/templates/build-apps-template.yml
  pipelines/templates/release-apps-template.yml
Due: pipelines/releases/release-apps.yml

Added some links
  Sources.txt
Due: none

Removed a job dependency
  pipelines/templates/release-apps-template.yml
Due: pipelines/releases/release-apps.yml

Test
  pipelines/releases/release-apps.yml
  pipelines/templates/release-apps-template.yml
Due: pipelines/releases/release-apps.yml

Added a link
  Sources.txt
Due: none

Tests
  pipelines/releases/release-apps.yml
Due: none

Tests
  pipelines/releases/release-apps.yml
  pipelines/templates/release-apps-template.yml
Due: pipelines/releases/release-apps.yml

Tests again
  pipelines/releases/release-apps.yml
Due: none

Fixed issues
  pipelines/releases/release-apps.yml
Due: none

Fixed issues again
  pipelines/templates/release-apps-template.yml
Due: pipelines/releases/release-apps.yml

Tests
  pipelines/templates/release-apps-template.yml
Due: pipelines/releases/release-apps.yml

Fixed release pipeline dependecies issue
  pipelines/templates/release-apps-template.yml
Due: pipelines/releases/release-apps.yml

Updated release pipeline
  pipelines/releases/release-apps.yml
Due: none

Tests
  Sources.txt
  pipelines/releases/release-apps.yml
Due: none

Updated release pipeline
  pipelines/releases/release-apps.yml
  pipelines/templates/release-apps-template.yml
Due: pipelines/releases/release-apps.yml

Updated variables
  pipelines/variables/variables.dev.yml
  pipelines/variables/variables.yml
Due: none

Renamed resources file
  pipelines/infra/dev/resources.dev.bicep
  pipelines/infra/dev/resources.dev.bicepparam
Due: pipelines/builds/build-infra.yml

Updated release piepline for apps
  pipelines/templates/release-apps-template.yml
Due: pipelines/releases/release-apps.yml

Updated release infra pipeline
  pipelines/templates/release-infra-template.yml
Due: pipelines/releases/release-infra.yml

Updated builds pipelines
  pipelines/builds/build-api.yml
  pipelines/builds/build-apps.yml
  pipelines/builds/build-client.yml
  pipelines/builds/build-infra.yml
Due: pipelines/builds/build-api.yml, pipelines/builds/build-client.yml

Updated infra folder
  pipelines/infra/prod/resources.prod.bicep
  pipelines/infra/prod/resources.prod.bicepparam
  pipelines/infra/qa/resources.qa.bicep
  pipelines/infra/qa/resources.qa.bicepparam
Due: pipelines/builds/build-infra.yml

Created new variables environments
  pipelines/variables/variables.prod.yml
  pipelines/variables/variables.qa.yml
Due: none

Updated builds and releases pipelines
  pipelines/releases/release-apps.yml
  pipelines/releases/release-infra.yml
  pipelines/releases/undeploy.yml
  pipelines/templates/build-infra-template.yml
  pipelines/templates/release-apps-template.yml
  pipelines/templates/release-infra-template.yml
Due: pipelines/releases/release-apps.yml, pipelines/releases/release-infra.yml

Updated pipelines again
  pipelines/builds/build-api.yml
  pipelines/builds/build-apps.yml
  pipelines/builds/build-client.yml
  pipelines/builds/build-infra.yml
  pipelines/releases/release-apps.yml
  pipelines/releases/release-infra.yml
  pipelines/releases/undeploy.yml
  pipelines/templates/release-infra-template.yml
  pipelines/templates/undeploy-template.yml
Due: pipelines/builds/build-api.yml, pipelines/builds/build-client.yml, pipelines/releases/release-infra.yml

Updated api build pipeline
  pipelines/builds/build-api.yml
Due: pipelines/builds/build-api.yml

Tests
  pipelines/variables/variables.dev.yml
Due: none

Path conditions:
  pipelines/builds/build-api.yml: any of: pipelines/builds/build-api.yml, TodoAppBackend, but not: *.md, *.gitignore
  pipelines/builds/build-client.yml: any of: pipelines/builds/build-client.yml, TodoAppClient, but not: README.md, .gitignore
  pipelines/builds/build-infra.yml: any of: pipelines/infra, pipelines/build-infra.yml
  pipelines/releases/release-api.yml: any of: pipelines/releases/release-api.yml, pipelines/infra/api.resources.yml
  pipelines/releases/release-apps.yml: any of: TodoAppBackend, TodoAppClient, pipelines/templates/release-apps-template.yml
  pipelines/releases/release-infra.yml: any of: pipelines/templates/release-infra-template.yml
  pipelines/releases/release.yml: any of: pipelines/templates/release-template.yml
